<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, '')}">

<th:block th:fragment="content">
    <h1 class="text-center text-primary">DASHBOARD ADMIN</h1>
    <h3>Benvenuto <th:block th:text="${username}"/></h3>
    <div class="container">
        <div class="d-flex align-content-center justify-content-around">
            <a class="btn btn-primary" th:href="@{/dashboard/user_list}">Lista utenti</a>
            <a class="btn btn-primary" th:href="@{/dashboard/remove_expired_users}">Rimuovi utenti scaduti</a>
            <a class="btn btn-primary" th:href="@{/dashboard/global_stats}">Statistiche</a>
        </div>

        <div th:if="${number_of_removed_users != null}" th:text="|Sono stati rimossi ${number_of_removed_users} utenti|" class="alert alert-warning my-2" role="alert"></div>
    </div>
</th:block>
</html>