<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{snippets/head}" />
</head>
<body class="bg-light">
    <th:block th:insert="~{snippets/navbar}" />
    <div class="container">
        <h3 class="text-center">Cambio password</h3>

        <!-- Form, no action fa una richiesta post all'url corrente -->
        <form id="passChangeForm" action="" method="POST">
            <!-- Password -->
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" pattern="^(?=.*id_10).{8,}$" id="inputPassword" name="password">
                <small id="passwordHelp" class="form-text text-muted">La password deve avere almeno 8 caratteri e contenere la stringa id_10</small>
            </div>

            <!-- Password Confirmation -->
            <div class="mb-3">
                <label for="inputPasswordConfirmation" class="form-label">Conferma la password</label>
                <input type="password" class="form-control" id="inputPasswordConfirmation" name="passwordConfirmation">
            </div>

            <div class="container py-4">
                <button type="submit" class="btn btn-primary">Cambia password</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>

        <a class="btn btn-primary block my-2" href="/dashboard" role="button">Torna alla dashboard</a>

        <div th:if="${success != null && !success}" class="alert alert-danger my-2" role="alert">
            #10: La password non rispetta i requisiti!
        </div>
        <div th:if="${success != null && success}" class="alert alert-success my-2" role="alert">
            La password è stata cambiata con successo!
        </div>

        <!-- Carosello -->
        <th:block th:insert="~{snippets/review_carousel}" />
    </div>
    <script th:src="@{/js/passwordChange.js}"></script>
</body>
</html>