<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, '')}">

<th:block th:fragment="content">
    <h3 class="text-center my-5" th:text="|Statistiche di ${username}|"></h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Program</th>
                <th>Times</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entry : ${personal_stats}">
                <td th:text="${entry.getProgram()}"></td>
                <td th:text="${entry.getTimes()}"></td>
            </tr>
        </tbody>
    </table>
</th:block>
</html>
