<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{snippets/head}" />
</head>
<body class="bg-light">
    <th:block th:insert="~{snippets/navbar}" />
    <div class="container">
        <h1 class="text-center text-primary">DASHBOARD UTENTE PROVA</h1>
        <h3>Benvenuto <th:block th:text="${username}"/></h3>
        <p>Allenamenti gratuiti utilizzati: <th:block th:text="${allenamenti}" />/3</p>
        <a class="btn btn-primary block" href="/dashboard/profile" role="button">Visualizza profilo</a>
        <a class="btn btn-primary block" href="/dashboard/change_password" role="button">Cambio password</a>
        <a class="btn btn-primary block" href="#" role="button">Allenamento</a>
        <a class="btn btn-primary block" href="/dashboard/upgrade" role="button">Upgrade</a>
        <a class="btn btn-primary block" href="/dashboard/review" role="button">Inserisci recensione</a>
    </div>
</body>
</html>