<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, '')}">

<th:block th:fragment="content">
    <h1 class="text-center">Inizia un allenamento!</h1>

    <div class="container d-flex justify-content-around align-content-center">
        <a th:each="program : ${defaultPrograms}" class="btn btn-primary" th:href="@{/dashboard/training_details(programName=${program.getName()})}">
            <span th:text="${program.getName()}"></span>
        </a>
    </div>

    <a class="btn btn-primary block my-2" href="/dashboard" role="button">Torna alla dashboard</a>
<script th:src="@{/js/review.js}"></script>
</th:block>
</html>
