<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{snippets/head}" />
</head>
<body class="bg-light">
<th:block th:insert="~{snippets/navbar}" />
<div class="container" id="container">
    <h3 class="text-center my-5" th:text="|Dettagli del programma ${programName}|"></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome dell'esercizio</th>
            <th>Set</th>
            <th>Ripetizioni</th>
            <th>kcal</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="exercise : ${exercises}">
                <td th:text="${exercise.getName()}"></td>
                <td th:text="${exercise.getSets()}"></td>
                <td th:text="${exercise.getReps()}"></td>
                <td th:text="${exercise.getKcal()}"></td>
            </tr>
        </tbody>
    </table>

    <p th:text="|Questo programma ha un totale di ${calories} calorie|"></p>
    <th:block th:insert="~{snippets/review_carousel}" />
</div>
<script th:src="@{/js/review.js}"></script>
</body>
</html>
