<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, '')}">

<th:block th:fragment="content">
    <h3>Profilo di <th:block th:text="${username}"/></h3>
    <p><b>Nome</b>: <th:block th:text="${name}"/></p>
    <p><b>Cognome</b>: <th:block th:text="${surname}"/></p>
    <p><b>Data di nascita</b>: <th:block th:text="${dob}"/></p>
    <p><b>Ruolo</b>: <th:block th:text="${role}"/></p>
    <a class="btn btn-primary my-4" href="/dashboard" role="button">Torna alla dashboard</a>
</th:block>
</html>