<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="snippets/head" />
</head>
<body class="bg-light">
<th:block th:include="snippets/navbar"/>
    <div class="container py-5">
        <!-- Titolo -->
        <div class="text-center my-5">
            <h1 class="display-4 fw-bold mb-4">
                Registrazione avvenuta con successo
            </h1>
        </div>

        <!-- Bottone per tornare alla homepage -->
        <div class="d-flex align-content-center">
            <a class="text-center btn btn-primary btn-lg mx-auto" href="/">Torna alla homepage</a>
        </div>
    </div>
</body>
</html>

