<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, 'py-5')}">

<th:block th:fragment="content">

    <!-- Titolo -->
    <div class="text-center my-5">
        <h1 class="display-4 fw-bold mb-4">
            Registrazione avvenuta con successo
        </h1>
    </div>

    <!-- Bottone per tornare alla homepage -->
    <div class="d-flex align-content-center">
        <a class="text-center btn btn-primary btn-lg mx-auto" th:href="@{/}">Torna alla homepage</a>
    </div>

</th:block>
</html>

