<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="snippets/head" />
</head>
<body>
    <th:block th:include="snippets/navbar"/>
    <div class="container py-5">

        <!-- Titolo -->
        <div class="text-centier my-5">
            <h1 class="display-4 fw-bold mb-4">
                Registrazione
            </h1>
        </div>

        <form id="signupForm" action="/signup" method="POST">
            <!-- Nome -->
            <div class="mb-3">
                <label for="inputName" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputName" name="name">
            </div>

            <!-- Cognome -->
            <div class="mb-3">
                <label for="inputSurname" class="form-label">Cognome</label>
                <input type="text" class="form-control" id="inputSurname" name="surname">
            </div>

            <!-- Data di nascita -->
            <div class="mb-3">
                <label for="inputDOB" class="form-label">Data di nascita</label>
                <input type="date" class="form-control" id="inputDOB" name="dob">
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Indirizzo email</label>
                <input type="email" class="form-control" id="inputEmail" name="email">
            </div>

            <!-- Username -->
            <div class="mb-3">
                <label for="inputUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="inputUsername" name="username">
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" name="password">
            </div>

            <!-- Password Confirmation -->
            <div class="mb-3">
                <label for="inputPasswordConfirmation" class="form-label">Conferma la password</label>
                <input type="password" class="form-control" id="inputPasswordConfirmation" name="passwordConfirmation">
            </div>

            <!-- Piani -->
            <div class="container text-center py-2">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Prova</h5>
                                <p class="card-text">Numero limitato di allenamenti standard</p>
                                <p class="text-center fw-bold">
                                    Gratuito
                                </p>
                                <input type="radio" class="btn-check" id="radioPlanTrial" name="role" value="ROLE_TRIAL">
                                <label class="btn btn-outline-primary" for="radioPlanTrial">Seleziona</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Basic</h5>
                                <p class="card-text">Numero illimitato di allenamenti standard</p>
                                <p class="text-center fw-bold">
                                    70€ al mese / 700€ all'anno
                                </p>
                                <input type="radio" class="btn-check" id="radioPlanBasic" name="role" value="ROLE_BASIC">
                                <label class="btn btn-outline-primary" for="radioPlanBasic">Seleziona</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Pro</h5>
                                <p class="card-text">Numero illimitato di allenamenti standard e personalizzati</p>
                                <p class="text-center fw-bold">
                                    120€ al mese / 1100€ all'anno
                                </p>
                                <input type="radio" class="btn-check" id="radioPlanPro" name="role" value="ROLE_PRO">
                                <label class="btn btn-outline-primary" for="radioPlanPro">Seleziona</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container py-4">
                <button type="submit" class="btn btn-primary">Invia</button>
                <button type="reset" class="btn btn-danger">Reset</button>
            </div>
        </form>

        <div th:if="${failed}" class="alert alert-danger" role="alert">
            Sign up fallito
        </div>
    </div>
</body>
</html>
<script src="/js/signup.js"></script>
<script>
    radioButtons = document.querySelectorAll('input[name="role"]');

    radioButtons.forEach(rb => {
        rb.addEventListener("change", _ => {
            radioButtons.forEach(other => {
                const label = document.querySelector(`label[for="${other.id}"]`);
                label.textContent = "Seleziona";
            });

            const thisLabel = document.querySelector(`label[for="${rb.id}"]`);
            thisLabel.textContent = "Selezionato";
        });
    });
</script>