<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{snippets/base :: layout(~{::content}, ~{::footer}, '')}">

<th:block th:fragment="content">
    <h1 class="text-center">Inserisci un nuovo programma</h1>

    <form id="addProgramForm" action="" method="post">
        <!-- Nome programma -->
        <div class="mb-3">
            <label for="pName" class="form-label">Nome programma</label>
            <input type="text" class="form-control" id="pName" name="programName" required>
        </div>

        <!-- Esercizi -->
        <div id="exercises">

        </div>
        <button id="addExercise" class="btn btn-success">Aggiungi un nuovo esercizio</button>
        <div class="py-4 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary ms-auto">Inserisci il nuovo programma</button>
        </div>
    </form>
    <script th:src="@{/js/add_exercise.js}"></script>
    <div th:if="${success != null && success}" class="alert alert-success my-2" role="alert">
        Il tuo programma è stato inserito, il numero totale di kcal è: <th:block th:text="${calories}" />
    </div>

    <div th:if="${success != null && !success}" class="alert alert-danger my-2" role="alert">
        <th:block th:text="${reason}" />
    </div>
</th:block>

</html>